/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Container do jogo com fundo semi-transparente para melhorar a legibilidade */
#game-container {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Botões de resposta */
button.answer {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

button.answer:hover {
    background-color: #0056b3;
}

/* Rodapé fixo para contador de acertos e erros */
#footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Destaque para a resposta selecionada */
button.answer.selected {
    background-color: #0056b3; /* Cor diferente para o botão selecionado */
    border: 2px solid #fff; /* Borda branca para destacar */
}

/* Estilos para telas menores, como celulares */
@media (max-width: 600px) {
    #game-container {
        padding: 20px;
        margin-top: 5vh;
    }

    button.answer {
        font-size: 14px;
        padding: 10px;
    }

    #footer {
        font-size: 14px;
    }
}
