/* Estilos globais */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #282c34; /* Cor de fundo do body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o container do jogo */
#game-container {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

/* Estilos para as perguntas */
#question-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

#question {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilos para os botões de resposta */
.answer {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Botões ocupam toda a largura */
}

.answer:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

.selected {
    background-color: #d4d4d4; /* Cor do botão selecionado */
}

/* Estilos para o rodapé fixo */
#footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Estilos para a página de resultados */
#result-container {
    text-align: center;
    margin-top: 20px;
    display: none; /* Escondido inicialmente */
}

#final-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilos para ocultar elementos */
.hidden {
    display: none;
}

/* Adicionando responsividade */
@media (max-width: 768px) {
    #question-title {
        font-size: 1.5rem;
    }

    #question {
        font-size: 1.2rem;
    }

    .answer {
        font-size: 1rem;
        padding: 10px 20px;
    }

    #footer {
        font-size: 14px;
    }
}
