/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    overflow: hidden;
    height: 100vh;
}

/* Estilos para o contêiner do jogo */
#game-container {
    position: relative;
    z-index: 10;
    text-align: center;
}

#result-container {
    text-align: center;
    margin-top: 20vh;
    color: white;
}

/* Estilo para o rodapé fixo */
#footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Estilo para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica em cima de todo o conteúdo */
    z-index: 999; /* Coloca acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a tela */
    height: 100%; /* Ocupa toda a tela */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido */
}

/* Conteúdo do modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o conteúdo */
    width: 56.25vh; /* Mantém a proporção 9:16 */
    height: 100vh; 
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Imagem dentro do modal */
#final-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra a área da modal */
}

/* Botão de fechar o modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
